.mainAdd {
    margin-top: 5%;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 222, 220);
    border-radius: 1.2rem;
    gap: 4%;
    /* border: 2px solid white; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 1.7rem;
    margin: 0;
}

.inputAdd {
    width: 60%;
    height: 13%;
    border-radius: 1rem
}

.buttonAdd {
    width: 60%;
    height: 10%;
    border-radius: 1rem;
    background: linear-gradient(135deg,
            #afe6dd 0%,
            #5a6665 90%);
    font-size: 1.3rem;
}