.mainSignUp {
    margin-top: 5%;
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 222, 220);
    border-radius: 1.2rem;
    /* border: 2px solid white; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.inputSignUp {
    margin: 2%;
    width: 70%;
    height: 10%;
    border-radius: 1rem
}

.ButtonSingUp {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
    height: 10%;
    border-radius: 1.2rem;
    font-size: 1rem;
    background: linear-gradient(135deg,
            #afe6dd 0%,
            #5a6665 70%);
}

#ErorSingUp {
    font-family: Arial, Helvetica, sans-serif;
    
}

#title {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -10%;
}

.log {
    margin-top: -2%;
    color: blue;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}